*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #2d2d2d;
}
header{
	float: left;
	width: 100%;	
}
header:hover{
	background-color: #005D8C;
}
#logotipo{
	display: inline-block;
	float: left;
}
#logotipo img{
	width: 110px;
	height: 80px;
}
#name {
	margin: 25px 0px;
	float: left;
	display: inline-block;
}
#name a{
	font-family: 'Coiny', cursive;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}
#table{
	float: left;
	margin:  0px 150px;
}
#table ul li{
	display: inline-block;
	list-style: none;
	margin: 32px 50px;
	float: left;
}
#table ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	font-family: helvetica;
}
#table ul li #blog{
	color:#ccc; 
}
#table ul li a:hover{
	color: #ccc;
}
#redes ul li{
	float: right;
	list-style: none;
	margin: 30px 10px;
}
#redes ul li img{
	float: left;
	display: inline-block;
	width: 40px;
	height: 30px;
}
p{
	color: #fff;
	font-family: 

}