*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #2d2d2d;
}
header{
	float: left;
	width: 100%;	
}
header:hover{
	background-color: #005D8C;
}
#logotipo{
	display: inline-block;
	float: left;
}
#logotipo img{
	width: 110px;
	height: 80px;
}
#name {
	margin: 25px 0px;
	float: left;
	display: inline-block;
}
#name a{
	font-family: 'Coiny', cursive;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}
#table{
	float: left;
	margin:  0px 150px;
}
#table ul li{
	display: inline-block;
	list-style: none;
	margin: 32px 50px;
	float: left;
}
#table ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	font-family: helvetica;
}
#table ul li #Inicio{
	color:#ccc; 
}
#table ul li a:hover{
	color: #ccc;
}
#redes ul li{
	float: right;
	list-style: none;
	margin: 30px 10px;
}
#redes ul li img{
	float: left;
	display: inline-block;
	width: 40px;
	height: 30px;
}
#wrap {
	width: 100%;
	margin: auto;
	background-image: url("../img/natural.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#wrap article p{
	margin: 0px 15px;
	font-family: 'Acme', sans-serif;
	font-size: 120px;
	color: #000000;
	text-align: left;
}
#tarjeta {
	margin: 0px 150px;
	width: 350px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
}
#tarjeta p{
	width: 290px;
	text-align: left;
	color: #000000;
	font-size: 50px;
	font-family: 'Bree Serif', serif;
}
#tarjeta #p2{
	text-align: left;
	font-size: 25px;
	font-family:'Pacifico', cursive;
}
#tarjeta a{
	width: 180px;
	float: left;
	display: block;
	text-decoration: none;
	color: #000000;
	background-color:#FC6000;
	padding: 10px; 
	margin: 0px 250px;
	font-family: 'Bree Serif', serif;
	font-size: 25px;
	border-radius: 5px;
}
#tarjeta a:hover{
	box-shadow: 2px 5px #000;
}
.slider{
			width: 95%;
			margin: auto;
			overflow: hidden;
		}
		.slider ul{
			margin: 15px;
			display: flex;
			padding: 0px;
			width: 400%;

			animation: cambio 20s infinite alternate;
		}
		.slider li {
			width: 1000%;
			list-style: none;
		}
		.slider img {
			border-radius: 10px;
			width: 100%;
			height: 495px;
		}

		@keyframes cambio{
			0% {margin-left: 0;}
			20% {margin-left: 0;}

			25%{margin-left: -100%;}
			45%{margin-left: -100%;}

			50%{margin-left: -200%;}
			70%{margin-left: -200%;}

			75%{margin-left: -300%;}
			100%{margin-left:-300%;}

		}
#lugares {
	float: left;
	margin: auto;
	width: 100%;
	background-color: #ffffff;
}

#texto {
	color: #696969;
	width: 960px;
	margin:auto;
	padding: 50px;
	text-align: center;
}
#lugares div{
	display: inline-block;
	margin: 0px 0px 40px 3%;
}
#lugares #travel {

	float: left;
	padding: 120px;
	background-image: url(../img/travel.jpg);
	background-repeat: no-repeat;
	background-size: 360px 300px;
}
#lugares #travel a{
	border-radius: 10px;
	padding: 15px 45px;
	text-decoration: none;
	color: #2CB8FF;
	font-size: 25px;
	background-color: #ffffff;
}

#lugares #eat {
	float: left;
	padding: 120px;
	background-image: url(../img/eat.jpg);
	background-repeat: no-repeat;
	background-size: 360px 300px;
}
#lugares #eat a{
	border-radius: 10px;
	padding: 15px 45px;
	text-decoration: none;
	color: #2CB8FF;
	font-size: 25px;
	background-color: #ffffff;
}
#lugares #relax {
	float: left;
	padding: 120px;
	background-image: url(../img/relax.jpg);
	background-repeat: no-repeat;
	background-size: 360px 300px;
}
#lugares #relax a{
	border-radius: 10px;
	padding: 15px 45px;
	text-decoration: none;
	color: #2CB8FF;
	font-size: 25px;
	background-color: #ffffff;
}

@media screen and (min-width:3600px){
	#lugares div{
	display: inline-block;
	margin: 0px 0px 40px 6%;
}
#lugares #travel {

	float: left;
	padding: 120px;
	background-image: url(../img/travel.jpg);
	background-repeat: no-repeat;
	background-size: 360px 300px;
}
#lugares #travel a{
	padding: 15px 45px;
	text-decoration: none;
	color: #2CB8FF;
	font-size: 25px;
	background-color: #ffffff;
}

#lugares #eat {
	float: left;
	padding: 120px;
	background-image: url(../img/eat.jpg);
	background-repeat: no-repeat;
	background-size: 360px 300px;
}
#lugares #eat a{
	padding: 15px 45px;
	text-decoration: none;
	color: #2CB8FF;
	font-size: 25px;
	background-color: #ffffff;
}
#lugares #relax {
	float: left;
	padding: 120px;
	background-image: url(../img/relax.jpg);
	background-repeat: no-repeat;
	background-size: 360px 300px;
}
#lugares #relax a{
	padding: 15px 45px;
	text-decoration: none;
	color: #2CB8FF;
	font-size: 25px;
	background-color: #ffffff;
}

